<!DOCTYPE html>
<html>
  <head lang="en">
    <title>WeCare application</title>
    <style type="text/css">
      .form{font-size:25px;}
      .register{display: inline-block;}
      p{font-size: 20px;}
      h4{text-align: center;color:red;}
      h2{text-align: center;color:red;}
      .landing{text-align:center;margin-top: 1px;}
      .report{text-align:center;}
      .reporting{text-align:center;margin-top: 1px;}
      .morning{text-align:center;margin-top: 1px;}
      .morningreport{text-align:center;}
      .night{text-align:center;margin-top: 1px;}
      .nightreport{text-align:center;}
      .spi{position: absolute;margin-top: 1px;margin-left: 400px;top: 0;left: 0;}
      #erorrs{text-align: center;color:red;list-style: none;}
      #logout{font-size:20px;position:absolute;top:30px;right:5px;}
      #loggedin{font-size:20px;top: 5px;right: 5px;position:absolute;}
      #success{text-align: center;color:red;}
      .summary{text-align:center;margin-top: 1px;}
      #summary{position: absolute;margin-top: 120px;margin-left: 0px;top: 0;left: 0;font-size:25px;}
      #weeksummary{ margin-top: 60px;margin-left: 50px;position:absolute;top:0;left:0;}
      #monthsummary{margin-top: 60px;margin-right: 50px;position:absolute;top:0;right:0;}
      .backtoreport{text-align:center;margin-top: 550px;}
      #wsd{color:red;}
      #wset{color:red;}
      #wst{color:red;}
      #wsq{color:red;}
      #wgm{color:red;}
      #msd{color:red;}
      #mset{color:red;}
      #mst{color:red;}
      #msq{color:red;}
      #mgm{color:red;}
      #werror{color:red;}
      #merror{color:red;}
      #purpose{font-size:20px;margin-top: 40px;margin-left: 10px;position:absolute;top:0;left:0;}
      .mood{color:red;display: inline-block;}
      #glimpse{text-align:center;margin-top: 340px;}
      .errors{color:red;display: inline-block;}
      #error{color:red};
    </style>
    <!-- <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" /> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.1/dist/paper.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <script src="/static/api.js" defer></script>
  </head>
  <body>